.App {
  text-align: center;
  overflow: auto;
  background:linear-gradient(0deg, #005C97 0%, #363795 100%);
  
}
*{
  font-family: 'Poppins';
}
.but:hover{
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
overflow-x: hidden;
}
.project-card {
  /* Set the initial opacity to 0 */
  opacity: 0;
}
